<a href="https://colab.research.google.com/github/Seethaishwarya18/MLWS/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Arithmetic operations
import numpy as np
a1=np.array([1,5,9,6])
a2=np.array([2,7,8,4])
print(a1)
print(a2)
add_array =np.add(a1,a2)
sub_array=np.subtract(a1,a2)
mul_array=np.multiply(a1,a2)
div_array=np.divide(a1,a2)
rem_array=np.mod(a1,a2)
pow_array=np.power(a1,5)
print(add_array)
print(sub_array)
print(mul_array)
print(div_array)
print(rem_array)
print(pow_array)

[1 5 9 6]
[2 7 8 4]
[ 3 12 17 10]
[-1 -2  1  2]
[ 2 35 72 24]
[0.5        0.71428571 1.125      1.5       ]
[1 5 1 2]
[    1  3125 59049  7776]

In [ ]:
#2 compute mean and std devn
marks = np.array([11,14,15,13,16])
mean=np.mean(marks)
std=np.std(marks)
print(mean)
print(std)

13.8
1.7204650534085253

In [ ]:
#3 array of integers from 10 to 50 with a step count of 5
Array = np.arange(10,51,5)
print(Array)

[10 15 20 25 30 35 40 45 50]

In [ ]:
#4 reshape the array into 2*4 matrix
Array=Array[:8]
Reshaped_array=Array.reshape(2,4)
print(Reshaped_array)

[[10 15 20 25]
 [30 35 40 45]]

In [ ]:
#5 array=np.array([[1,2,3],[4,5,6],[7,8,9]])
# 1)extract submatrix having last two rows and first two columns
#2)replace all elements greater than 4 with 0

arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
sub =arr[1:,:2]
print(sub)
for i in range(3):
  for j in range(3):
    if(arr[i,j]>4):
      arr[i,j]=0
print(arr)

[[4 5]
 [7 8]]
[[1 2 3]
 [4 0 0]
 [0 0 0]]

In [ ]:
#6. create two 1d arrays
# 1)a=np.array([1,2,3])
#2)b=np.array([4,5,6])
# perform element wise addition,multiplicaton and division
a = np.array([1,2,3])
b = np.array([4,5,6])
print(np.add(a,b))
print(np.multiply(a,b))
print(np.divide(a,b))

[5 7 9]
[ 4 10 18]
[0.25 0.4  0.5 ]

In [ ]:
#7. create random array of size (4,4)
# compute mean of each column,max value of entire array,sum of all elements
Random=np.random.rand(4,4)
print(Random)
print(np.max(Random))
print(np.sum(Random))
print(np.mean(Random,axis=0))

[[0.14796198 0.18777581 0.42564949 0.42376135]
 [0.63765044 0.01732334 0.26598439 0.821879  ]
 [0.90235607 0.46505183 0.65075894 0.22427584]
 [0.08074085 0.88290126 0.70779505 0.62344631]]
0.9023560676528397
7.4653119627875775
[0.44217733 0.38826306 0.51254697 0.52334063]

In [15]:
#8.given array=np.array([1,2,3,4]) add 10 to each element and then multiply the result by 2
arr=np.array([1,2,3,4])
Array=(arr+10)*2
print(Array)

[22 24 26 28]

In [2]:
#9.perform advanced slicing and indexing on a 3d array
#Create a 3D NumPy array arr of shape (3, 4, 5) with random integers ranging from
#1 to 100. Perform the following:
#• Extract the second "layer" (i.e., the second 2D array) in the first dimension.
#• Extract the first two rows and the last three columns from each "layer."
#• Replace all elements divisible by 3 with -1.

random=np.random.randint(1,101,(3,4,5))
print(random)
print(random[: ,1:2,])
print(random[:,0:2,-3:])
random[random%3==0]=-1
print(random)

[[[ 29  93  34  75  34]
  [ 40  80  22  30  10]
  [ 43  16  62  68  72]
  [ 42  94  25  29  91]]

 [[ 86  66  50  69  20]
  [ 62  31  54  95   9]
  [ 77 100  25  43  51]
  [ 95  68  51  75  22]]

 [[ 47  76  21   5  84]
  [ 36  79  61  26  98]
  [ 63  50  66  66  71]
  [ 93  47  82  88  57]]]
[[[40 80 22 30 10]]

 [[62 31 54 95  9]]

 [[36 79 61 26 98]]]
[[[34 75 34]
  [22 30 10]]

 [[50 69 20]
  [54 95  9]]

 [[21  5 84]
  [61 26 98]]]
[[[ 29  -1  34  -1  34]
  [ 40  80  22  -1  10]
  [ 43  16  62  68  -1]
  [ -1  94  25  29  91]]

 [[ 86  -1  50  -1  20]
  [ 62  31  -1  95  -1]
  [ 77 100  25  43  -1]
  [ 95  68  -1  -1  22]]

 [[ 47  76  -1   5  -1]
  [ -1  79  61  26  98]
  [ -1  50  -1  -1  71]
  [ -1  47  82  88  -1]]]

In [14]:
#10. Work with broadcasting and advanced operations in NumPy.
 #Create a NumPy array arr of shape (3, 3) with random integers between
# 1 and 20. Perform the following:
#• Subtract the mean of each row from its respective elements (row-wise normalization)
#Create a new array by squaring all the elements in arr.
#• Find the indices of the top 3 maximum values in the entire array
arr1=np.random.randint(1,21,(3,3))
mean=np.mean(arr1,axis=1)
norm_arr=arr1-mean
print(arr1)
print(mean)
print(norm_arr)
sqr_arr=arr1**2
print(sqr_arr)
indices=np.argsort(arr1.ravel())[-3:]
indicess=[np.unravel_index(idx,arr1.shape)for idx in indices]
print(indicess)

[[ 3 13  9]
 [11 20 10]
 [11  8  2]]
[ 8.33333333 13.66666667  7.        ]
[[-5.33333333 -0.66666667  2.        ]
 [ 2.66666667  6.33333333  3.        ]
 [ 2.66666667 -5.66666667 -5.        ]]
[[  9 169  81]
 [121 400 100]
 [121  64   4]]
[(2, 0), (0, 1), (1, 1)]